<!DOCTYPE html>
<html lang="ja">
    <head>
        {% extends "base.html" %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-wdith">
        {% block title %}{{ block.super }} 勤務報告{% endblock %}
    </head>
    <body>
        {% block content %}
        <div class="home">
            <h1>勤務報告ページ</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="登録">
            </form>
        </div>
        {% endblock %}
    </body>
</html>